org.eclipse.om2m.commons/src/main/resources/xsd/errorInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://uri.etsi.org/m2m"
  xmlns:tns="http://uri.etsi.org/m2m">

  <include schemaLocation="common.xsd" />

  <element name="errorInfo" type="tns:ErrorInfo" />

  <complexType name="ErrorInfo">
    <all>
      <element ref="tns:statusCode" minOccurs="0" />
      <element ref="tns:additionalInfo" minOccurs="0" />
    </all>
  </complexType>

  <element name="additionalInfo" type="string" />

</schema>